@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-family: 'Cinzel', serif;
    flex-direction: column;
}

footer{
    position: fixed;
    left: 0;
    bottom: 50px;
    width: 100%;
    text-align: center;
}
