@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    padding-left: 15%;
    padding-right: 15%;
    font-family: 'Cinzel', serif;
    flex-direction: column;
    font-size: 1.2rem;
    /* width: 60%; */
}

footer{
    position: fixed;
    left: 0;
    bottom: 50px;
    width: 100%;
    text-align: center;
}

.display-posts {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    /* margin-left: 10%;
    margin-right: 10%; */
    /* width: 500px; */
    
}

h2 {
    font-size: 1.2rem;
}


